// VARIABLES
$content-width: 700px;
$feed-width: 613px;
$screen-min-width: 1050px;
$screen-thin1-snap: 1048px;
$screen-thin2-snap: 1170px;
$background-primary: #fff;
$background-secondary: #f1f1f1;
$background-tertiary: #e3e3e3;
$signup-promo-background: #4c4c4c;
$signup-promo-border: lighten($signup-promo-background, 15%);
$text-muted-1: #333;
$border-primary: #d7d7d7;

@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left, top, bottom, left, right), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}

@mixin vendor ($prop, $val...){
  -webkit-#{$prop}: #{$val};
  -moz-#{$prop}: #{$val};
  -ms-#{$prop}: #{$val};
  #{$prop}: #{$val};
}

@mixin linear-gradient($direction, $colours...) {
   $top: nth(nth($colours, 1), 1);
   $bottom: nth(nth($colours, 2), 1);
   @if is-direction($direction) == false {
      $colours: $direction, $colours;
      $direction: 180deg;
   }
   
   background: -moz-linear-gradient($direction, $colours);
   background: -webkit-linear-gradient($direction, $colours);
   background: -ms-linear-gradient($direction, $colours);
   background: -o-linear-gradient($direction, $colours);
   background: linear-gradient($direction, $colours);
   
   // fucking internet explorer moment
   filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#{$top}", endColorstr="#{$bottom}");
}

html, body {
   margin: 0;
   padding: 0;
   background-color: $background-secondary;
   min-width: $screen-min-width;
}

menu, ol, ul {
   list-style:none;
   padding: 0;
}

html, body, button, input, textarea {
   font-family: Arial, sans-serif;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

a {
 color:#36c;
 cursor:pointer;
 text-decoration:none
}
a:hover,
a:active {
 text-decoration:underline
}

.valign-container {
   display: block;
}

.valign {
   display: inline-block;
   vertical-align: middle;
}

// hacky fix
.valign-container::before {
   content: "";
   height: 100%;
   width: 0px;
   display: inline-block;
   vertical-align: middle;
}
.valign-block {
   display: inline-block;
}

.sprite {
   display: inline-block;
}

.hid {
   display: none;
}

@import "www-hitchhiker.novfl/www-uix.scss";
@import "www-hitchhiker.novfl/www-pageframe.scss";
@import "www-hitchhiker.novfl/www-guide.scss";
@import "www-hitchhiker.novfl/www-feed.scss";
@import "www-hitchhiker.novfl/spf-progress.scss";

/*
 * begin page
*/

#page {
   position: relative;
   background-color: $background-primary;
   border: 1px solid $border-primary;
   border-radius: 4px;
   min-width: $content-width;
   min-height: 700px;
   margin-left: 100px;
   margin-right: 250px;
}

#content {
   width: $content-width;
}

#page #header-container {
   display: block;
   width: 100%;
   height: 58px;
   line-height: 58px;
   border-bottom: 1px solid $border-primary;
}

#page #header-container .header {
   width: $content-width;
   height: 58px;
   line-height: 58px;
}

#page #header-container .title {
   font-size: 21px;
   margin: 0 20px;
   vertical-align: middle;
}

#extras-sidebar {
   float: right;
   width: 200px;
   margin: 0 25px;
}

#signup-promo {
   background: $signup-promo-background;
   padding: 50px 12px;
   position: relative;
   border: 1px solid $signup-promo-border;
   border-radius: 3px;
   color: #ddd;
   font-size: 13px;
   & .arrow {
      position: absolute;
      width: 0;
      height: 0;
      right: 36px;
      top: -14px;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid $signup-promo-border;
      &:after {
         content: "";
         display: block;
         position: absolute;
         width: 0;
         height: 0;
         left: -13px;
         bottom: -14px;
         border-left: 13px solid transparent;
         border-right: 13px solid transparent;
         border-bottom: 13px solid $signup-promo-background;
      }
   }
   & h3 {
      font-size: 18px;
      color: #eee;
      text-align: center;
   }
}

/*
 * end page
*/

.exp- {
}