@use "util" as *;

@mixin styles() {
   .feed-controls {
      margin-left: 20px;
      & .uix-button {
         min-width: 64px;
         height: 32px;
      }
   }
   .feed {
      width: $feed-width;
      padding-left: 20px;
   }
   .feed-item-content {
      & .profile-img-container {
         &, & img {
            width: 48px;
            height: 48px;
            border-radius: 3px;
            display: inline-block;
         }
      }
      & .feed-post {
         margin-left: 19px;
         width: 497px;
         vertical-align: top;
         display: inline-block;
         margin-bottom: 20px;
         &-primary:before {
            content: "";
            background: url(/src/img/www-hitchhiker.sprites/feed_post_arrow.png);
            position: absolute;
            display: block;
            width: 10px;
            height: 21px;
            left: -10px;
            top: 16px;
         }
      }
   }

   .feed-post-primary {
      position: relative;
      border: 1px solid #cecece;
      border-radius: 3px;
      box-shadow: 0 0px 1px rgba(0,0,0,.1);
      z-index: 60;
   }
   .feed-post-secondary {
      position: relative;
      border: 1px solid #cecece;
      background: #f8f8f8;
      border-radius: 3px;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0 3px;
      padding-bottom: 4px;
      z-index: 30;
      box-shadow: 0 0px 1px rgba(0,0,0,.1);
   }

   .feed-post-content {
      margin: 16px 16px; // refactor to feed margin var 
      margin-top: 6px;
      margin-bottom: 16px;
      font-size: 13px;
   }

   .feed-post-header {
      margin: 16px 16px; // refactor to feed margin var
      margin-bottom: 0;
      &, & a {
         font-size: 11px;
         font-weight: 500;
         color: #999;
      }
      & .username {
         font-size: 12px;
         color: #1f1f1f;
         font-weight: 700;
         margin-right: 6px;
      }
   }

   .uix-button.uix-button-icon {
      &.feed-plusone-button {
         & .uix-button-content {
            background: url(/src/img/www-hitchhiker.sprites/feed_plusone_inactive.png);
            width: 18px;
            height: 15px;
         }
         padding: 0 13px;
         height: 38px
      }
      &.feed-share-button {
         & .uix-button-content {
            background: url(/src/img/www-hitchhiker.sprites/feed_share_inactive.png);
            width: 18px;
            height: 15px;
         }
         padding: 0 13px;
         height: 38px
      }
   }

   .feed-post-actions {
      border-top: 1px solid #dbdbdb;
   }

   .simplebox-container {
      display: inline-block;
      width: 100%;
   }

   .simplebox-collapsed {
      margin: 12px 16px;
      border: 1px solid #dedede;
      border-top-color: #dadada;
      background: #fff;
      padding: 7px;
      color: #a1a1a1;
      font-size: 13px;
      cursor: pointer;
   }
   }
   @mixin styles() {
   .feed-controls {
      margin-left: 20px;
      & .uix-button {
         min-width: 64px;
         height: 32px;
      }
   }
   .feed {
      width: $feed-width;
      padding-left: 20px;
   }
   .feed-item-content {
      .profile-img-container {
         &, & img {
            width: 48px;
            height: 48px;
            border-radius: 3px;
            display: inline-block;
         }
      }
      .feed-post {
         margin-left: 19px;
         width: 497px;
         vertical-align: top;
         display: inline-block;
         margin-bottom: 20px;
         &-primary:before {
            content: "";
            background: url(/src/img/www-hitchhiker.sprites/feed_post_arrow.png);
            position: absolute;
            display: block;
            width: 10px;
            height: 21px;
            left: -10px;
            top: 16px;
         }
      }
      
      .originally-shared-container {
         margin-top: 8px;
         
         .profile-img-container {
            float: left;
            
            &, & img {
               width: 32px;
               height: 32px;
            }
         }
         
         .username {
            font-weight: bold;
         }
         
         .originally-shared-content {
            margin-left: 38px;
         }
         
         .originally-shared-header {
            margin-bottom: 3px;
            color: #999;
         }
      }
   }

   .feed-post-primary {
      position: relative;
      border: 1px solid #cecece;
      border-radius: 3px;
      box-shadow: 0 0px 1px rgba(0,0,0,.1);
      z-index: 60;
   }
   .feed-post-secondary {
      position: relative;
      border: 1px solid #cecece;
      background: #f8f8f8;
      border-radius: 3px;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0 3px;
      padding-bottom: 4px;
      z-index: 30;
      box-shadow: 0 0px 1px rgba(0,0,0,.1);
   }

   .feed-post-content {
      margin: 16px 16px; // refactor to feed margin var 
      margin-top: 6px;
      margin-bottom: 16px;
      font-size: 13px;
   }

   .feed-post-header {
      margin: 16px 16px; // refactor to feed margin var
      margin-bottom: 0;
      &, & a {
         font-size: 11px;
         font-weight: 500;
         color: #999;
      }
      & .username {
         font-size: 12px;
         color: #1f1f1f;
         font-weight: 700;
         margin-right: 6px;
      }
   }
   
   .feed-post-media {
      border-top: 1px solid #ddd;
      padding-top: 6px;
      margin-top: 6px;
      
      img {
         max-width: 100%;
         height: auto;
      }
   }

   .uix-button.uix-button-icon {
      &.feed-plusone-button {
         & .uix-button-content {
            background: url(/src/img/www-hitchhiker.sprites/feed_plusone_inactive.png);
            width: 18px;
            height: 15px;
         }
         padding: 0 13px;
         height: 38px
      }
      &.feed-share-button {
         & .uix-button-content {
            background: url(/src/img/www-hitchhiker.sprites/feed_share_inactive.png);
            width: 18px;
            height: 15px;
         }
         padding: 0 13px;
         height: 38px
      }
   }

   .feed-post-actions {
      border-top: 1px solid #dbdbdb;
   }

   .simplebox-container {
      display: inline-block;
      width: 100%;
   }

   .simplebox-collapsed {
      margin: 12px 16px;
      border: 1px solid #dedede;
      border-top-color: #dadada;
      background: #fff;
      padding: 7px;
      color: #a1a1a1;
      font-size: 13px;
      cursor: pointer;
   }
}